*{
  font-family: 'Mulish', sans-serif;
}
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
.tab-head {
    background-color: #395B64;
    color: white;
}
  
  table tr {
    background-color: white;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
  }
  
  table td{
    color: #000000;
    font-weight: 600;
    text-align: center;
    font-size: 13px;
  }
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-align: center;
    border-bottom: 1.5px solid #ddd;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

  .nilai-rata{
    width: 43%;
    height: 25px;
    border: 2px solid black;
  }

  .calendar {
    position: relative;
    width: 200px;
    background: #ffffff;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    color:  white;
  }

  .calendar #namaBulan {
    position: relative;
    padding: 5px 10px;
    background: #000000;
    font-size: 20px;
    font-weight: 650;
    color: white;
  }

  .calendar #namaHari {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 350;
    color: #313336;
  }

  .calendar #tanggal {
    margin-top: 0px;
    line-height: 1em;
    font-size: 70px;
    font-weight: 700;
    color: black;
  }

  .calendar #tahun {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 350;
    color: #313336;
  }

  .avatar {
    display: flex;
    width: 150px;
    height: 150px;
    margin-left: 100px;
  }
  
  .dafsis button a:hover{
    text-decoration: none;
  }

  .dafsis button {
    font-size: 18px;
    background: #395B64;
    border-radius: 10px;
    color: #ffffff;
    border: none;
  }
  
  .judul1{
    font-weight: 600;
    font-size: 26px;
    color: black;
  }

  .container2{
    width: 88%;
    height: 80%;
    margin: 0 auto;
    border-radius: 70px;
  }

 .tabelperusahaan{
    text-decoration: none;
  }

  .teks1{
    color: #9FA2B4;
    font-size: 12px;
    text-align: right;
    margin-right: 40px;
  }

  .buttonmaps{
    border-radius: 20px;
    border: 1px black;
    width: 100px;
    height: 30px;
  }

  .peru {
    font-size: 13px;
  }

  .no-gutters{
    font-family: 'Mulish', sans-serif;
  }
  